# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SpuApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def get_spu_items(self, category_id, sorter, **kwargs):  # noqa: E501
        """获取商品列表  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_spu_items(category_id, sorter, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str category_id:  类别 id (required)
        :param str sorter:  排序关键字，当前只支持 price (required)
        :param str brand_id:  品牌 id
        :param int cursor:  滑动分页 id
        :param int page:  每页数量
        :return: SpuListRes
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_spu_items_with_http_info(category_id, sorter, **kwargs)  # noqa: E501
        else:
            (data) = self.get_spu_items_with_http_info(category_id, sorter, **kwargs)  # noqa: E501
            return data

    def get_spu_items_with_http_info(self, category_id, sorter, **kwargs):  # noqa: E501
        """获取商品列表  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_spu_items_with_http_info(category_id, sorter, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str category_id:  类别 id (required)
        :param str sorter:  排序关键字，当前只支持 price (required)
        :param str brand_id:  品牌 id
        :param int cursor:  滑动分页 id
        :param int page:  每页数量
        :return: SpuListRes
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['category_id', 'sorter', 'brand_id', 'cursor', 'page']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_spu_items" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'category_id' is set
        if ('category_id' not in params or
                params['category_id'] is None):
            raise ValueError("Missing the required parameter `category_id` when calling `get_spu_items`")  # noqa: E501
        # verify the required parameter 'sorter' is set
        if ('sorter' not in params or
                params['sorter'] is None):
            raise ValueError("Missing the required parameter `sorter` when calling `get_spu_items`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'category_id' in params:
            query_params.append(('categoryId', params['category_id']))  # noqa: E501
        if 'brand_id' in params:
            query_params.append(('brandId', params['brand_id']))  # noqa: E501
        if 'sorter' in params:
            query_params.append(('sorter', params['sorter']))  # noqa: E501
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'page' in params:
            query_params.append(('page', params['page']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['apiKey']  # noqa: E501

        return self.api_client.call_api(
            '/d/items', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='SpuListRes',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
